.login-container {
  background: #0065fe;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.xtel {
  position: absolute;
  right: 0;
  transform: scale(2);
  opacity: 0.15;
}
.login {
  padding: 40px !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
  transform-origin: left;
  animation: rotate3D 1s forwards;
  overflow: hidden;
  box-shadow: 80px 0 50px -60px rgba(0, 0, 0, 0.4) !important;
  background: #fff !important;
}
.login h1 {
  color: #0066fe4f;
  font-size: 80px;
  margin: 0;
}
.login div {
  margin-bottom: 5px;
  width: 100%;
}
.login div input {
  width: 100%;
}
.text-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: justify;
  color: #fff;
}
.text-container-login img {
  transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
  transform-origin: top;
  animation: rotate3Dtop 1s forwards 1s;
  width: 100%;
}
.text-container-login h2 {
  opacity: 0;
  transform: translateX(-100px);
  animation: fadeInLeft 1s forwards 2s;
  margin: 0;
}
.text-container-login p {
  opacity: 0;
  transform: translateY(-100px);
  animation: fadeInTop 1s forwards 2s;
  margin: 0;
}
.waves img {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -10% !important;
  transform: translateY(500px);
  animation: inButton 800ms cubic-bezier(0.67, 0.47, 0.72, 1.2) forwards 2s;
}
.waves img:nth-child(1) {
  bottom: 0%;
}
.waves img:nth-child(2) {
  bottom: 0.5%;
  left: 50%;
  opacity: 0.3;
  animation-delay: 2200ms;
}
.waves img:nth-child(3) {
  bottom: 1%;
  left: 30%;
  opacity: 0.3;
  animation-delay: 2400ms;
}
@keyframes rotate3D {
  to {
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes rotate3Dtop {
  to {
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fadeInLeft {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeInTop {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes inButton {
  to {
    transform: translateY(0px);
  }
}
