// mixins
@mixin gradient_background {
  background: #0065fe; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0065fe,
    #0065fe
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0065fe,
    #0065fe
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::selection {
  background: hsla(216, 100%, 50%, 0.2);
}

/* GLOBAL STYLES */
* {
  outline: none;
}
body {
  // font-size: 17px !important;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
img {
  max-width: 100%;
}

/* MA2WEB STYLES */

// top header
.top-header {
  padding: 20px 10px;
  .search {
    background: #fff;
    border-radius: 30px;
    margin: auto;
    width: 75%;
    svg {
      position: relative;
      left: -30px;
      top: -5px;
    }
  }
  .MuiInput-underline:before {
    width: 0 !important;
  }
  .MuiInputLabel-formControl {
    top: -8px !important;
  }
  .MuiInput-underline:after {
    width: 90% !important;
  }
}

.content-container {
  padding: 40px;
  h1 {
    margin-top: 0;
  }
}
.container-ma {
  border-radius: 30px;
  background: #fff;
  margin-bottom: 20px !important;
  h1 {
    padding-left: 20px;
    color: #0066fe8a;
    margin: 0;
    text-transform: capitalize;
  }

  .imsi-checker {
    padding: 20px;
  }
}
.container {
  border-radius: 30px;
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  h1 {
    color: #0066fe8a;
    margin: 0;
    line-height: 1em;
    text-transform: capitalize;
  }
}

// Forms

.form-ma {
  padding-top: 10px;
  .inputs {
    margin-bottom: 15px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .react-tel-input {
    .phoneInput {
      width: 100% !important;
    }
  }
}
.add-to-contact {
  background-color: #feba00;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    background: darken($color: #feba00, $amount: 10%);
  }
  svg {
    font-size: 18px;
  }
}

.avatar img {
  border-radius: 50%;
  width: 100%;
}

// navbar
.navbar-main-container {
  background-color: #0065fe;
  border-top-right-radius: 60px;
}
.navbar {
  display: block;
  min-height: calc(100vh - 88px);
  color: #fff;
  position: relative;
  border-radius: 0 60px 0 0;
  nav {
    @include gradient_background();
    border-radius: 0 60px 0 0;
    overflow: hidden;
    min-height: calc(100vh - 88px);

    .logo {
      width: 60%;
      margin: auto;
      padding: 40px 0;
      z-index: 999;
      position: relative;
      font-size: 23px;
    }
  }
  svg {
    color: #fff;
  }
  .MuiListItem-button {
    z-index: 999;
  }
  a {
    color: #fff;
    display: block;
    width: 90%;
    margin: 0 0 0 auto;
    .MuiListItem-button:hover {
      background-color: transparent !important;
    }
    .MuiListItemIcon-root {
      min-width: 35px !important;
    }
  }
  a.active {
    background: #f5f6fb;
    color: #0065fe;
    border-radius: 30px 0 0 30px;
    position: relative;
    svg {
      color: #0065fe;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: #0065fe;
      top: 100%;
      right: 0;
      height: 93px;
      width: 94px;
      border-radius: 0 55px 0px 0;
      box-shadow: 5px -32px 0 0 #f5f6fb;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #0065fe;
      bottom: 100%;
      right: 0;
      height: 93px;
      width: 94px;
      border-radius: 0 0 55px 0;
      box-shadow: 5px 32px 0 0 #f5f6fb;
      z-index: 0;
    }
  }
  .MuiListItem-button:hover {
    text-decoration: none;
    background-color: transparent !important;
  }
}
// contacts
.contact-list {
  border-radius: 30px;
  background: #fff;
  margin-bottom: 20px !important;
  h1 {
    padding-left: 20px;
    color: #0066fe8a;
    margin: 0;
    text-transform: capitalize;
  }
  .contact-info {
    padding: 20px;
    border-radius: 50px;
    h2 {
      margin: 0;
      border-bottom: 2px solid #f5f6fb;
      padding-bottom: 5px;
      margin-left: 5px;
    }
    .details-container {
      display: flex;
      align-items: center;
      margin: 5px 0 8px 0;
      color: #757575;
      font-size: 14px;
      p {
        margin: 0;
      }
    }
    .contact-details {
      width: 100%;

      svg {
        margin-right: 5px;
      }
      .details-container {
        display: flex;
        align-items: center;
        color: #757575;
      }
      p {
        margin: 0px;
        font-size: 14px;
        span {
          font-weight: 600;
        }
      }

      .locations {
        width: 100%;
        height: 400px;
        margin-top: 30px;
        div {
          border-radius: 10px;
        }
      }
    }
  }
  .details-container.imsi-code {
    color: #53af50;
  }
}
.add-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.float-add-btn {
  width: 30px;
  height: 30px;
  background: #0065fe;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

// modal
.modal-ma-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 3;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  animation: fadeIn 300ms ease-in-out forwards;

  .modal-ma {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    min-width: 500px;
    transform: translateY(-20px);
    animation: fadeInTop 300ms ease-in-out forwards 500ms;
    opacity: 0;
    // overflow: hidden;
  }
  .modal-ma-header {
    color: #f3c1ca;
    text-transform: capitalize;
  }
  .modal-ma-body {
    margin-bottom: 20px;
    // border-bottom: 1px solid #e91e6338;
    padding-bottom: 20px;
  }
  .input-container {
    width: 100%;
    margin-bottom: 10px;
    > div {
      width: 100%;
    }
  }

  .react-tel-input {
    margin-top: 20px !important;
    input.phoneInput.form-control {
      width: 100%;
    }
  }

  .modal-ma-image {
    position: absolute;
    z-index: -1;
    right: 2%;
    top: -35%;
    width: 250px;
  }
}
.btn-ma {
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  background: #0065fe;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  text-transform: uppercase;
  &:hover {
    background: darken($color: #0065fe, $amount: 10%);
  }
}
.btn-ma-danger {
  background: #e91e63;
  &:hover {
    background: darken($color: #e91e63, $amount: 10%);
  }
}

.block {
  width: 100%;
  display: block;
}

.loader-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-actions button {
  padding: 5px !important;
  color: rgba(0, 0, 0, 0.2) !important;
}
.profile-menu {
  text-align: right;
  padding-right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .notif {
    svg {
      margin: 0;
      padding: 0;
    }
    margin-right: 10px;
    cursor: pointer;
  }
}

.info-container,
.info-container,
.credit-container {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.credit {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background: #3865fe;
  color: white;
  position: absolute;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  right: 140px;

  .credit-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tabpanel {
  text-align: center;
  width: 350px;
  margin: auto;

  form.form-ma {
    div {
      width: 100%;
    }
  }
}

.report-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    color: #0065fe;
    margin: 0;
  }
}

.logout {
  margin-top: 6rem !important;
}

.login {
  .MuiCircularProgress-root.MuiCircularProgress-indeterminate {
    width: 15px !important;
    height: 15px !important;
    margin: 0 !important;
    margin-left: 5px !important;
  }
}

.uc {
  width: 100%;
  text-align: center;

  img {
    margin: auto;
    animation: underconstruction 2s forwards;
    transform-origin: top center;
  }

  @keyframes underconstruction {
    from {
      transform: rotate(8deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    45% {
      transform: rotate(5deg);
    }
    65% {
      transform: rotate(-2deg);
    }
    to {
      transform: rotate(0);
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// cell finder
.cell-finder {
  padding: 20px;
  position: relative;
}
.cell-finder-form {
  position: absolute;
  z-index: 999;
  background: #fff;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
}
.cellfindermap {
  width: 100%;
  height: 85vh;
}
.report-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    background: darken($color: orange, $amount: 10%);
  }
}

.dashboard {
  .cards {
    padding: 20px;

    .card {
      position: relative;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
      padding: 20px;
      box-sizing: border-box;

      .card-title {
        font-size: 24px;
        color: #888;

        .count-title {
          color: #888;
        }
      }

      .card-body {
        .count {
          font-size: 50px;
          position: absolute;
          right: 20px;
          top: 4px;
          color: #82ca9d;
        }
      }
    }
  }
}

.MuiButtonBase-root.MuiListItem-root.action-btn.MuiListItem-gutters.MuiListItem-button
  svg {
  color: #fff;
}

.MuiButtonBase-root.MuiListItem-root.action-btn.MuiListItem-gutters.MuiListItem-button {
  background: #3865fe;
  color: #fff;
}

// Grid contacts
.contact-info {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

div.green {
  color: #53af50 !important;
}

div.red {
  color: #e91e63 !important;
}

// Pagination
.pagination {
  display: flex;
  margin: 0;
  padding: 15px 0;
  background: #f5f7fb;
  justify-content: center;
  border-radius: 3px;

  li {
    list-style: none;
  }
}
.pagination li:hover a {
  color: #fff;
  background: #467fcf;
}
.pagination li.active a {
  background: #467fcf;
}
.pagination a {
  margin: 0 5px 0 0;
  background: #fff;
  // box-shadow: 0 0 3px 0 #467fcf80;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  padding: 5px 8px;
  color: #467fcf;
}
.pagination li.active a {
  color: #fff;
}
.pagination li.disabled a {
  cursor: no-drop;
  color: #bdbdbd;
}
.pagination li.disabled:hover a {
  color: auto;
  background: #fff;
}

// grid contact
.grid-contact-container {
  background: #fff;
  padding: 10px;
  display: flex;
  font-size: 15px;

  .grid-contact-avatar {
    margin-right: 10px;
    width: 60px;
  }
}
.centerElem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #3865fe;
  margin-bottom: 15px;
}

// simcard checker
.contact-details p {
  margin: 0;
  font-size: 15px;
  span {
    font-weight: bold;
    text-transform: capitalize;
  }
}
.simcard-checker-information {
  position: relative;
  width: 100%;

  .simcard-checker-actions {
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    .action-btn {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      background: #3865fe;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
    }
    .add-contact-action {
      background: #feba00;
    }
    .imsi-finder-action {
      background-color: #e91e63;
    }
  }
}

.personal-info {
  padding-left: 19px;
  margin-bottom: 40px !important;

  h2 {
    margin: 0;
  }
}
.details-container p {
  margin: 0;
}

.details-container {
  display: flex;
  align-items: center;
}
.imsi-finder-data p span {
  font-weight: bold;
}

.imsi-finder-data p {
  margin: 0;
}
.imsi-finder-data {
  border: 1px solid #cacaca;
  margin: 15px 0;
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  background: whitesmoke;

  .green {
    margin-bottom: 20px;
    font-size: 15px;
  }
}
.action-btn {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: #3865fe;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.add-contact-action {
  background: #feba00;
}
.cell-finder-form p span {
  font-weight: bold;
}

.cell-finder-form p {
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
}
.msisdn-information {
  position: relative;
  .add-to-contact {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    top: 0;
    right: 0;
    padding: 8px;
  }
}

.imsi-finder-info {
  font-size: 15px;
  margin-top: 20px !important;
  div {
    // margin-bottom: 10px;
  }
  padding: 20px;
  h3 {
    font-size: 19px;
    border-bottom: 1px solid #cacaca;
  }
  p {
    padding: 0;
    margin: 3px 0;
  }

  .imsi-information {
    p {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 10px;
    }
  }

  .msisdn-information {
    p {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 10px;
    }
  }
  .possible-info {
    display: flex;
    span {
      font-weight: bold;
    }
    div.avatar {
      width: 100px;
      margin-right: 10px;
    }

    p {
      margin: 0 !important;
      font-size: 15px;
    }
  }
}

.loading-container {
  padding: 0 40px 40px;
  text-align: center;
}

.cell-finder-data {
  .cell_finder_data {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    padding: 10px;
    border-radius: 0 20px 0 0;
    box-shadow: 10px -10px 10px 0 rgba(0, 0, 0, 0.2);

    p {
      margin: 0;
      border-bottom: 1px solid #cacaca;
      padding: 3px 0;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }

      span {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.social-checker {
  .container {
    transition: all ease-in 200ms;
    &:hover {
      transform: scale(1.05);
    }
  }
}
.social-checker h3 {
  margin: 0;
  color: #777;
}
.social-checker-title {
  align-items: center;
  justify-content: space-between;
  text-align: center;

  img {
    width: 100%;
  }
}
.container.telegram-checker {
  position: relative;
}
.social-icon-absolute.telegram-icon {
  position: absolute;
  width: 100px;
}

.telegram-checker-information {
  position: relative;
  overflow: hidden;
  padding: 20px;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .username {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 30px;
    background: #00c0f1;
    color: #fff;
    border-bottom-left-radius: 30px;
  }
  .bio {
    margin: 0;
    color: #999999;
    font-size: 13px;
  }
}
.cell-finder-data p {
  display: flex;
  justify-content: baseline;
  margin: 0;
}
.cell-finder-data span {
  font-weight: bold;
  margin-right: 10px;
}
a.view-model {
  margin-left: 10px;
  font-size: 0.8em;
  background: #0065fe;
  color: #fff;
  display: inline-block;
  align-self: flex-start;
  border-radius: 20px;
  padding: 0 10px;
  cursor: pointer;
}
.cell-finder-data-container {
  position: absolute !important;
  bottom: 23px;
  background: #fff;
  font-size: 14px;
  left: 23px;
  padding: 10px;
  border-radius: 10px;
}
.modal-ma.cell-modal {
  width: 800px !important;
}
.cell-info span {
  font-weight: bold;
}
.cell-info p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.cell-info p:nth-child(2n + 1) {
  background: #ececec;
}
.cell-info {
  border: 1px solid #ececec;
  padding: 10px;
}
th.MuiTableCell-root.MuiTableCell-head {
  font-weight: bold;
}
td.MuiTableCell-root.MuiTableCell-body {
  padding: 6px;
}
thead.MuiTableHead-root {
  background: #00fe98;
}
.pdf-container {
  padding: 20px;
}
// .MuiSvgIcon-fontSizeSmall,
// svg.MuiSvgIcon-root {
//   font-size: 1rem !important;
// }
button.btn-ma.block:disabled {
  background-color: #eee;
  cursor: no-drop;
}
.sms {
  padding: 5px 0;
  border-bottom: 1px solid #f5f6fb;
  transition: all ease-in-out 200ms;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;

  h2 {
    font-size: 14px;
    margin: 0;
    font-weight: lighter;
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #999;
  }
  .sms-time {
    font-size: 11px;
    color: #999;
    svg {
      font-size: 13px;
      margin-left: 7px;
    }
  }
  .sms-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: 25px !important;
      color: #e91e62a4;
      transition: all ease-in-out 200ms;
    }
  }

  &:hover {
    background-color: #f5f5f5;

    .sms-avatar {
      svg {
        font-size: 25px !important;
        color: #e91e62;
      }
    }
  }
}

.sms-text-container {
  padding: 10px;
  min-height: 200px;

  h3 {
    font-weight: lighter;
    color: #888;
  }

  .sms-text {
    background-color: #f5f5f5;
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    color: #757575;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50px);
    animation: sms-text ease-in-out 800ms forwards;
    cursor: pointer;
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: darken($color: #f5f5f5, $amount: 5%);

      &:before {
        background-color: darken($color: #f5f5f5, $amount: 5%);
      }

      h5 {
        color: #555;
      }

      .sms-text-time {
        color: #555;
      }
    }

    h5 {
      margin: 0;
      margin-bottom: 10px;
      color: #b1b1b1;
      transition: all ease-in-out 200ms;
    }

    @keyframes sms-text {
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    p {
      margin: 0;
      font-size: 15px;
    }

    &:before {
      content: "";
      transition: all ease-in-out 200ms;
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #f5f5f5;
      left: -4px;
      bottom: -4px;
      border-radius: 200px 0;
      z-index: -1;
    }
  }

  .sms-text-time {
    font-size: 11px;
    padding-top: 20px;
    text-align: right;
    color: #b1b1b1;
    transition: all ease-in-out 200ms;
  }
}

.call-log-container {
  padding: 10px 0;

  h3 {
    font-weight: lighter;
    color: #888;
  }

  .call-log {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .log-time {
    display: block;
  }
  .log-number {
    display: flex;
    align-items: center;
    font-size: 15px;
    svg {
      font-size: 15px;
      margin-right: 4px;
    }
  }
  .out-call {
    color: #53af50;
  }
  .in-call {
    color: #467fcf;
  }
  .missed-call {
    color: #e91e63;
  }
  .log-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-align: right;
    color: #999;
  }
}
.actions {
  text-align: right;

  button {
    padding: 3px 10px;
    background: orange;

    &:hover {
      background: darken($color: orange, $amount: 10%);
    }
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .subheader {
    position: relative;
    .mobile-menu {
      display: block;
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
      svg {
        font-size: 40px;
      }
    }
  }
  .logo {
    margin-left: 40px !important;
  }
  .navbar {
    min-height: auto;

    nav {
      min-height: auto;
    }

    a {
      display: none;
    }
  }
}

.show {
  display: block !important;
}

// table
.table-ma2web {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 0.8em;
  background-color: #fff;

  tr {
    border-bottom: 1px solid hsla(216, 100%, 50%, 0.2);

    td,
    th {
      padding: 5px 10px;
    }

    td {
      font-weight: 100;
    }

    th {
      background-color: hsla(216, 100%, 50%, 0.2);
    }
  }
}

// rechart
.recharts-wrapper {
  margin: auto;
}
